.top_label1{
    -fx-font-size: 4em;
    -fx-font-weight: 800;
}
.top_label2{
    -fx-font-size: 3em;
    -fx-font-weight: 600;
}
.root{
    -fx-background-image: url("resources/register.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.middle_box{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 5px;
}
.registration_button{
    -fx-background-color: #3A3D42;
}